{% extends 'KlaroQuotationBundle::base.html.twig' %}

{% block sideNavigation %}
    {{ klaro_quotation_menu_admin_pages(page) }}
{% endblock %}

{% block body %}
    {{ renderedContents | raw }}
{% endblock body %}
