<ul class="nav navbar-nav">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'menu.main.quotations'| trans({}, 'KlaroQuotationBundle') }} <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('klaro_quotation_index') }}">{{ 'menu.main.all_quotation_types'| trans({}, 'KlaroQuotationBundle') }}</a></li>

            <li class="divider"></li>

            {% for quotationType, quotationTypeName in klaro_quotation_type_names %}
                <li><a href="{{ path('klaro_quotation_list', {quotationType : quotationType}) }}">{{ quotationTypeName }}</a></li>
            {% endfor %}
        </ul>
    </li>

    {% if is_granted('ROLE_KLARO_QUOTATION_ACCESS_ADMINISTRATION') and adminPages.adminPagesCount > 0 %}
        <li><a href="{{ path('klaro_quotation_admin') }}">{{ 'menu.main.administration'| trans({}, 'KlaroQuotationBundle') }}</a></li>
    {% endif %}
</ul>
