<script type="text/javascript">
    require([ 'klaro_quotation'], function(QuotationApp) {
        if(!QuotationApp.isStarted) {
            QuotationApp.start({
                debugMode : {{ app.environment == 'dev' ? 'true' : 'false' }}
            });
        }
        var modules = [
            {% for item in config %}
                {% if loop.index0 > 0 %},{% endif %}

                { {% for key, value in item %}{% if loop.index0 > 0 %}, {% endif %}'{{ key }}' : {{ value | json_encode | raw }}{% endfor %} }
            {% endfor %}
        ];

        QuotationApp.loadModules(modules);
    });
</script>
