<script>
    // Define globals here manually because for some scripts (eg. jQuery) need to to global
    // TODO: refactor
    {% for lib, export in globals %}
        define('{{ lib }}', [], function() {
            return {{ export }};
        });
    {% endfor %}

    // Configure the AMD module loader
    requirejs.config({
        // The path where your JavaScripts are located
        baseUrl: '{{ asset('') }}',
        // Specify the paths of vendor libraries
        paths: {
            {% for lib, path in paths %}
                '{{ lib }}' : '{{ path }}'
                {% if not loop.last %},{% endif %}
            {% endfor %}
        },
        packages: [
            {% for package in packages %}
                { name: '{{ package.name }}', location: '{{ package.location }}'{% if package.main is defined %}, main: '{{ package.main }}'{% endif %} }
                {% if not loop.last %},{% endif %}
            {% endfor %}
        ],
        shim: {
            underscore: {
                exports: '_'
            },
            backbone: {
                deps: ['underscore', 'jquery'],
                exports: 'Backbone'
            },
            marionette: {
                deps: ['underscore', 'jquery', 'backbone'],
                exports: 'Marionette'
            },
            bootbox: {
                deps: ['jquery', 'bootstrap'],
                exports: 'bootbox'
            },
            bootstrap: ['jquery'],
            datatables: ['jquery'],
            'fos_routing_data' : ['fos_routing'],
            'messenger-flat': ['messenger'],
            'spectrum' : ['jquery']
        }
    });
</script>