{% set userIds = [] %}

{% for user in klaro_quotation_model_manager.linkedUsers(quotation) %}
    {% set userIds = userIds | merge([{
        id       : user.id,
        title    : user.fullname,
        fullname : user.fullname,
        email    : user.email
    }]) %}
{% endfor %}

<div data-app="info.addHandler" data-quotation-id="{{ quotation.id }}" data-current-handlers="{{ userIds | json_encode }}" style="margin-top: 10px;">

    <ul class="list-unstyled js-current-handlers">
    </ul>

    <a href="#" class="js-add-handler-button btn btn-default btn-xs">
        <i class="fa fa-plus"></i> {{ 'info.table.add_handler' | trans({}, 'KlaroQuotationBundle') }}
    </a>

</div>
