{% block description %}
{% endblock %}

{% block info_content %}
    <div class="panel panel-default">
        <div class="panel-body">
            {% block quotation_info %}

            <div class="row">
                {% block thumbnail %}
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                        <div class="block">
                            <div class="hidden-xs hidden-sm">
                                {% if configuredProductLine.image is defined %}
                                    <div class="thumb thumb-{{ configuredProductLine.id }}" style="background-image: url('{{ asset(configuredProductLine.image) }}')">
                                    </div>
                                {% else %}
                                    <div class="thumb">
                                        <div class="thumb-missing"><i class="fa fa-picture-o"></i></div>
                                    </div>
                                {% endif %}
                                <h4>{{ configuredProductLine.title }}</h4>
                                <p>{% trans with {
                                    '%createdAt%' : quotation.createdAt is empty ? '' : quotation.createdAt | date(klaro_quotation_date_format),
                                    '%owner%' : quotation.owner is empty ? '' : quotation.owner.profileTitle
                                    } from 'KlaroQuotationBundle' %}
                                    info.status
                                    {% endtrans %}</p>
                            </div>
                        </div>
                    </div>
                {% endblock %}

                {% block information %}
                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9">

                        <div>
                            <table class="table table-striped">
                                <tbody>
                                {% block information_title %}
                                    <tr>
                                        <th class="col-md-4 col-lg-2">{{ 'info.table.title'| trans({}, 'KlaroQuotationBundle') }}</th>
                                        <td class="col-md-8 col-lg-10">{{ quotation.identifier }} {{ quotation.title }}</td>
                                    </tr>
                                {% endblock %}
                                {% block information_product_line %}
                                    <tr>
                                        <th>{{ 'info.table.product_line'| trans({}, 'KlaroQuotationBundle') }}</th>
                                        <td>{{ configuredProductLine.title }}</td>
                                    </tr>
                                {% endblock %}
                                {% block information_owner %}
                                    <tr>
                                        <th>{{ 'info.table.owner'| trans({}, 'KlaroQuotationBundle') }}</th>
                                        <td>
                                            {{ quotation.owner is empty ? '' : quotation.owner.profileTitle }}
                                        </td>
                                    </tr>
                                {% endblock %}
                                {% block information_handlers %}
                                    <tr>
                                        <th>{{ 'info.table.handlers'| trans({}, 'KlaroQuotationBundle') }}</th>
                                        <td>
                                            {% for user in klaro_quotation_model_manager.linkedUsers(quotation) %}
                                                {{ user.profileTitle }}<br />
                                            {% endfor %}

                                            {% if is_granted('ROLE_KLARO_QUOTATION_MANAGE_QUOTATION_USERS') %}
                                                {% include 'KlaroQuotationBundle:Quotation:info/addHandlers.html.twig' %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endblock %}
                                {% block information_created_at %}
                                    <tr>
                                        <th>{{ 'info.table.created'| trans({}, 'KlaroQuotationBundle') }}</th>
                                        <td>{{ quotation.createdAt is empty ? '' : quotation.createdAt | date(klaro_quotation_date_format) }}</td>
                                    </tr>
                                {% endblock %}
                                {% block information_updated_at %}
                                    <tr>
                                        <th>{{ 'info.table.updated'| trans({}, 'KlaroQuotationBundle') }}</th>
                                        <td>{{ quotation.updatedAt is empty ? '' : quotation.updatedAt | date(klaro_quotation_date_format) }}</td>
                                    </tr>
                                {% endblock %}
                                {% block information_extra %}
                                {% endblock %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endblock %}
            </div>

                <hr />
                {% embed 'KlaroQuotationBundle:Quotation:info/buttons.html.twig' %}
                {% endembed %}

            {% endblock %}

        </div>

    </div>
{% endblock %}
