{% block buttons %}
    <div class="quotation-info-list">
        <div class="list-table">

            <div class="quotation-info-buttons">
                {% if klaro_quotation_model_manager.isLinked(quotation, klaro_quotation_model_manager.currentUser) %}
                    <a href="{{ path('klaro_quotation_create_revision', {'quotationId' : quotation.id}) }}" class="btn btn-success"
                       data-app="revision.create"
                       data-quotation-id="{{ quotation.id }}"
                       data-revision-id="{{ quotation.latestRevision.RevisionId }}"
                       {% if stateMachine.isFinal %}disabled="disabled"{% endif %}>
                        <i class="fa fa-plus"></i>
                        <span class="hidden-xs hidden-sm hidden-md">{{ 'info.buttons.create_revision.title'| trans({}, 'KlaroQuotationBundle') }}</span>
                    </a>
                {% endif %}

                {% if klaro_quotation_model_manager.isLinked(quotation, klaro_quotation_model_manager.currentUser) %}
                    <a href="{{ path('klaro_quotation_edit', {'quotationId' : quotation.id}) }}" class="btn btn-primary">
                        <i class="fa fa-pencil"></i>
                        <span class="hidden-xs hidden-sm hidden-md">{{ 'info.buttons.edit.title'| trans({}, 'KlaroQuotationBundle') }}</span>
                    </a>
                {% else %}
                    {% if not klaro_quotation_model_manager.isLinked(quotation, klaro_quotation_model_manager.currentUser) and is_granted('ROLE_KLARO_QUOTATION_LINK_QUOTATIONS') %}
                        <a href="{{ path('klaro_quotation_link', {'quotationId' : quotation.id}) }}" class="btn btn-default" rel="popover"
                           data-original-title="{{ 'info.buttons.link.title'| trans({}, 'KlaroQuotationBundle') }}"
                           data-content="{{ 'info.buttons.link.description'| trans({}, 'KlaroQuotationBundle') }}"
                           data-trigger="hover" data-placement="top">
                            <i class="fa fa-link"></i>
                            <span class="hidden-xs hidden-sm hidden-md">{{ 'info.buttons.link.title'| trans({}, 'KlaroQuotationBundle') }}</span>
                        </a>
                    {% endif %}
                {% endif %}

                {% if is_granted('ROLE_KLARO_QUOTATION_CLAIM_QUOTATIONS') and (klaro_quotation_model_manager.linkedUsers(quotation) | length > 1 or not klaro_quotation_model_manager.isLinked(quotation, klaro_quotation_model_manager.currentUser)) %}
                    <a href="{{ path('klaro_quotation_claim', {'quotationId' : quotation.id}) }}" class="btn btn-default" rel="popover"
                       data-original-title="{{ 'info.buttons.claim.title'| trans({}, 'KlaroQuotationBundle') }}"
                       data-content="{{ 'info.buttons.claim.description'| trans({}, 'KlaroQuotationBundle') }}"
                       data-trigger="hover" data-placement="top">
                        <i class="fa fa-external-link"></i>
                        <span class="hidden-xs hidden-sm hidden-md">{{ 'info.buttons.claim.title'| trans({}, 'KlaroQuotationBundle') }}</span>
                    </a>
                {% endif %}

                {% if is_granted('ROLE_KLARO_QUOTATION_CREATE_QUOTATION') %}
                    <a href="{{ path('klaro_quotation_copy', {'quotationId' : quotation.id}) }}" class="btn btn-default" rel="popover"
                       data-original-title="{{ 'info.buttons.copy.title'| trans({}, 'KlaroQuotationBundle') }}"
                       data-content="{{ 'info.buttons.copy.description'| trans({}, 'KlaroQuotationBundle') }}"
                       data-trigger="hover" data-placement="top">
                        <i class="fa fa-clone"></i>
                        <span class="hidden-xs hidden-sm hidden-md">{{ 'info.buttons.copy.title'| trans({}, 'KlaroQuotationBundle') }}</span>
                    </a>
                {% endif %}

                {% if is_granted('ROLE_KLARO_QUOTATION_DELETE_QUOTATIONS') %}
                    <a href="{{ path('klaro_quotation_delete', {'quotationId' : quotation.id}) }}" class="btn btn-danger pull-right"
                       rel="popover confirm" data-content="{{ 'info.buttons.delete.description'| trans({}, 'KlaroQuotationBundle') }}"
                       data-confirm-text="{{ 'info.buttons.delete.confirm'| trans({}, 'KlaroQuotationBundle') }}"
                       data-original-title="Delete proposal" data-trigger="hover" data-placement="top"
                       data-app="confirm">
                        <i class="fa fa-trash"></i>
                        <span class="hidden-xs hidden-sm hidden-md">{{ 'info.buttons.delete.title'| trans({}, 'KlaroQuotationBundle') }}</span>
                    </a>
                {% endif %}
            </div>

        </div>

    </div>
{% endblock %}
