<div class="panel panel-default">
    <div class="panel-body"><!--strong>Revision History</strong></div-->

    <table class="table table-striped" data-app="datatable">
        <thead>
        <tr>
            <th>{{ 'revision.title'| trans({}, 'KlaroQuotationBundle') }}</th>
            <th class="col-lg-1">{{ 'revision.status'| trans({}, 'KlaroQuotationBundle') }}</th>

            {% if is_granted('ROLE_KLARO_QUOTATION_ACCESS_TOTAL_SALES_PRICE') %}
                <th class="col-lg-1">{{ 'revision.sales_price'| trans({}, 'KlaroQuotationBundle') }}</th>
            {% endif %}

            <th class="col-lg-1 hidden-xs hidden-sm hidden-md">{{ 'revision.author'| trans({}, 'KlaroQuotationBundle') }}</th>
            <th class="col-lg-1 hidden-xs hidden-sm">{{ 'revision.created_at'| trans({}, 'KlaroQuotationBundle') }}</th>
            <th class="col-lg-1 hidden-xs hidden-sm">{{ 'revision.updated_at'| trans({}, 'KlaroQuotationBundle') }}</th>

            {% if klaro_quotation_model_manager.isLinked(quotation, klaro_quotation_model_manager.currentUser) and not stateMachine.isFinal %}
                <th class="col-lg-1">&nbsp;</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for revision in revisions %}
            <tr>
                <td>
                    <a href="{{ path('klaro_quotation_edit_revision', {
                        quotationId : quotation.Id,
                        revisionId  : revision.revisionId
                    }) }}"><strong>{{ revision.identifier }} {{ revision.title }}</strong></a>

                    {% if revision.Qualifiers is not empty and revision.Qualifiers is iterable %}
                        <br />
                        <div style="display: inline-block">
                            {% for qualifier, qualifierValue in revision.Qualifiers %}
                                <span class="qualifier-label">
                                    <i class="fa fa-tag"></i>
                                    {{ klaro_quotation_revision_qualifier_options[qualifier][qualifierValue] is defined ? klaro_quotation_revision_qualifier_options[qualifier][qualifierValue] : qualifierValue -}}
                                </span>
                            {% endfor %}
                        </div>
                    {% endif %}

                    <br />
                    <small>{{ revision.LogMessage }}</small>
                </td>
                <td>
                    <strong>{{ klaro_quotation_revision_status[revision.Status] is defined ? klaro_quotation_revision_status[revision.Status] : '-' }}</strong>

                    {% if revision.status == constant('Klaro\\QuotationBundle\\Api\\QuotationRevisionStatus::WON') %}
                        <br />
                        <small>
                            Order: {{ klaro_quotation_revision_order_status[revision.OrderStatus] is defined ? klaro_quotation_revision_order_status[revision.OrderStatus] : '-' }}
                        </small>
                    {% endif %}
                </td>

                {% if is_granted('ROLE_KLARO_QUOTATION_ACCESS_TOTAL_SALES_PRICE') %}
                    {% set revisionCurrencyConverter = currencyConverter.getCurrencyConverterForRevision(revision) %}
                    <td>
                        {% if revision.CalculatedSalesPriceWithTax is not empty %}
                            {% if revision.TargetSalesPriceWithTax is not empty and (revision.TargetSalesPriceWithTax - revision.CalculatedSalesPriceWithTax) | round != 0 %}
                                {{ revisionCurrencyConverter.toCurrency(revision.TargetSalesPriceWithTax) | number_format(0, ',', ' ') }} {{ revisionCurrencyConverter.getCurrency() }}
                                <br />
                                <small style="text-decoration: line-through;">
                                    {{ revision.CalculatedSalesPriceWithTax is not empty ? revisionCurrencyConverter.toCurrency(revision.CalculatedSalesPriceWithTax | number_format(0, ',', ' ')) : '-' }} {{ revisionCurrencyConverter.getCurrency() }}
                                </small>
                            {% else %}
                                {{ revisionCurrencyConverter.toCurrency(revision.CalculatedSalesPriceWithTax) | number_format(0, ',', ' ') }} {{ revisionCurrencyConverter.getCurrency() }}
                            {% endif %}
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </td>
                {% endif %}

                <td class="hidden-xs hidden-sm hidden-md">{{ revision.user ? revision.user.fullname : '-' }}</td>
                <td class="hidden-xs hidden-sm">{{ revision.CreatedAt ? revision.CreatedAt | date(klaro_quotation_date_format) : '-' }}</td>
                <td class="hidden-xs hidden-sm">{{ revision.UpdatedAt ? revision.UpdatedAt | date(klaro_quotation_date_format) : '-' }}</td>

                {% if klaro_quotation_model_manager.isLinked(quotation, klaro_quotation_model_manager.currentUser) and not stateMachine.isFinal %}
                    <td><a href="{{ path('klaro_quotation_create_revision_from_existing', {
                        quotationId : quotation.id,
                        revisionId : revision.revisionId
                        }) }}" class="btn btn-default btn-xs" role="button" data-app="revision.create"
                           data-quotation-id="{{ quotation.id }}"
                           data-revision-id="{{ revision.revisionId }}">
                            {{ revision.Status == constant('Klaro\\QuotationBundle\\Api\\QuotationRevisionStatus::WON') and (revision.OrderStatus is empty or revision.OrderStatus == constant('Klaro\\QuotationBundle\\Api\\QuotationRevisionOrderStatus::NONE'))
                                ? 'info.buttons.copy_to_order.title'| trans({}, 'KlaroQuotationBundle')
                                : 'info.buttons.create_revision.title'| trans({}, 'KlaroQuotationBundle')
                            }}
                        </a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>
