{% block title %}
    <h1>
        {{ 'general.layout.title_single'| trans({}, 'KlaroQuotationBundle') }}
        <small>{{ 'general.layout.specifier'| trans({
                '%quotationType%': klaro_quotation_type_names[quotationType]
            }, 'KlaroQuotationBundle') }}</small>
    </h1>
{% endblock %}

