{% block revision_toolbar %}

    <div class="revision-toolbar">

        <div class="revision-toolbar-buttons">
            <a href="#" class="btn btn-success js-add-revision-button" data-app="revision.create"
               data-quotation-id="{{ quotation.id }}"
               data-revision-id="{{ revision.revisionId }}"
               {% if stateMachine.isFinal %}disabled="disabled"{% endif %}>
                <i class="fa fa-plus"></i>
                <span class="hidden-xs hidden-sm">
                {{ revision.Status == constant('Klaro\\QuotationBundle\\Api\\QuotationRevisionStatus::WON') and (revision.OrderStatus is empty or revision.OrderStatus == constant('Klaro\\QuotationBundle\\Api\\QuotationRevisionOrderStatus::NONE'))
                ? 'info.buttons.copy_to_order.title' | trans({}, 'KlaroQuotationBundle')
                : 'info.buttons.create_revision.title' | trans({}, 'KlaroQuotationBundle')
                }}
            </span>
            </a>

            <a href="#" class="btn btn-default js-change-status" data-app="revision.status" disabled="disabled"
               data-revision="{{ revision | klaro_quotation_revision_data | json_encode }}"
               data-qualifiers="{{ klaro_quotation_revision_qualifiers | json_encode }}"
               data-qualifier-options="{{ klaro_quotation_revision_qualifier_options | json_encode }}"
               data-status="{{ klaro_quotation_revision_status | json_encode }}"
               data-order-status="{{ klaro_quotation_revision_order_status | json_encode }}">
                <i class="fa fa-info-circle"></i> <span class="hidden-xs hidden-sm hidden-md">Revision:</span>
                <strong class="js-status-text">{{ klaro_quotation_revision_status[revision.Status] is defined ? klaro_quotation_revision_status[revision.Status] : '-' }}</strong>
                <span class="js-order-status-text" style="display: none;">(Order: Not Ready)</span>
            </a>
        </div>

    </div>
{% endblock %}
