{% block title %}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block content %}

    <div id="content-body">
        {% block body %}{% endblock %}
    </div>

{% endblock content %}