<div data-form-input="phase.array" data-config="{{ config | json_encode }}" data-field-name="{{ config.fieldName }}">
    <input type="hidden" name="{{ config.fieldName }}" class="js-array-value" value="[]">
    <table class="inline-form-table table table-striped">
        <thead>
        <tr>
            {% if config.showHeaders %}
                {% if config.showTitle %}
                    <th>&nbsp;</th>
                {% endif %}

                {% for itemName, itemConfig in config.items %}
                    <th>{{ itemConfig.text }}</th>
                {% endfor %}

                {% if config.allowRemove %}
                    <th>&nbsp;</th>
                {% endif %}
            {% endif %}
        </tr>
        </thead>
        <tbody class="js-array-contents">
        </tbody>
    </table>

    {% if config.allowAdd and config.disabled != true %}
        <p><a href="#" class="js-add-row"><i class="fa fa-plus"></i> Add row</a></p>
    {% endif %}

    <script type="text/template" class="js-array-empty-template">
        <td colspan="<%= columns %>"><small>No rows configured.</small></td>
    </script>

    <script type="text/template" class="js-array-template">
        <% if(showTitle === true) { %>
        <th class="col-xs-1"><%= model.title %></th>
        <% } %>

        <% _.each(items, function(itemConfig, itemName) { %>
            <td<% if(itemConfig.size) { %> class="col-xs-<%- itemConfig.size %>"<% } %>>
            <% if(itemConfig.type == "dropdown") { %>
                <select class="form-control js-array-input" data-input-name="<%- itemName %>"<% if(itemConfig.disabled) { %> disabled="disabled"<% } %>>
                    <% _.each(items[itemName].options, function(optionTitle, optionValue) { %>
                        <option value="<%- optionValue %>"<% if(model[itemName] == optionValue) { %> selected="selected"<% } %>><%- optionTitle.text %></option>
                    <% }); %>
                </select>
            <% } else if(itemConfig.type == "checkbox") { %>
                <input type="checkbox" class="js-array-input" data-input-name="<%- itemName %>" value="<%- model[itemName] == true %>"<% if(model[itemName] == true) { %> checked="checked"<% } %>
                    <% if(itemConfig.disabled) { %> disabled="disabled"<% } %>
                />
            <% } else { %>
                <input type="text" class="form-control js-array-input" data-input-name="<%- itemName %>" value="<%- model[itemName] %>" />
            <% } %>
            </td>
        <% }); %>

        <% if(allowRemove === true) { %>
            <td class="col-xs-1">
                <a href="#" class="btn btn-default btn-sm js-remove-row"><i class="fa fa-trash"></i> Remove</a>
            </td>
        <% } %>
    </script>
</div>
