<div class="col-sm-offset-2 col-sm-10">
    <button class="btn btn-default" onclick="location = '{{ path(config.url, config.urlParams) }}'; return false;">
        {% if config.icon is defined %}<i class="fa fa-{{ config.icon }}"></i> {% endif %}{{ config.text }}
    </button>
</div>


