<label data-form-input="phase.checkbox" data-field-name="{{ config.fieldName }}">

    {# If checkbox is not selected, then no value is submitted -> put default value in hidden field. #}
    {# However, if checkbox is disabled the default value is submitted and overriding the choice -> hide if disabled #}
    {% if not config.disabled %}
        <input type="hidden" name="{{ config.fieldName }}" value="0" />
    {% endif %}

    <input type="checkbox" name="{{ config.fieldName }}" value="1"{% if 1 == config.value %} checked="checked"{% endif %}{% if config.disabled %}disabled="disabled"{% endif %}> {{ config.text }}
</label>