<div class="input-group color"
     data-form-input="phase.color"{% if config.width is defined %} style="width: {{ config.width }};"{% endif %}
     data-field-name="{{ config.fieldName }}"
     data-format="{{ config.format }}"
     data-config="{{ config.vars | json_encode }}">
    <input type="text"
           name="{{ config.fieldName }}"
           value="{{ config.value }}"
           class="form-control"
           {% if config.placeholder is not empty %}placeholder="{{ config.placeholder }}"{% endif %}
            {% if config.disabled %} disabled="disabled"{% endif %}>
    <span class="input-group-addon color-preview js-preview" style="background-color: {{ config.value }};">
        {% if not config.disabled %}
            <i class="fa fa-caret-down"></i>
        {% else %}
            &nbsp;&nbsp;
        {% endif %}
    </span>
</div>
