{% if config.value.format is defined %}
    {% set value = config.value.format("d.m.Y") %}
{% else %}
    {% set value = config.value %}
{% endif %}

<div class="input-group date"
     data-form-input="phase.date"{% if config.width is defined %} style="width: {{ config.width }};"{% endif %}
     data-field-name="{{ config.fieldName }}">
    <input type="text"
           name="{{ config.fieldName }}"
           value="{{ value }}"
           class="form-control"
           {% if config.placeholder is not empty %}placeholder="{{ config.placeholder }}"{% endif %}
           {% if config.disabled %} disabled="disabled"{% endif %}>
    <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
</div>
