{% import _self as macros %}

<div{% if config.width is defined %} style="width: {{ config.width }}"{% endif %}>
    {% if config.unit %}
        <div class="input-group">
            {{ macros.select(config) }}
            <span class="input-group-addon">{{ config.unit }}</span>
        </div>
    {% else %}
        {{ macros.select(config) }}
    {% endif %}
</div>

{% macro select(config) %}
    <div class="chosen-select chosen-select-block">
        <select class="form-control"
                {% if config.fieldName %} name="{{ config.fieldName }}"{% endif %}
                {% if config.width is not empty %} style="width: {{ config.width }}"{% endif %}
                data-placeholder="-"
                data-form-input="phase.dropdown"
                data-field-name="{{ config.fieldName }}"
                {% if config.optionsSourceType is defined and config.optionsSourceType == 'url' %}data-ajax-url="{{ config.optionsSource }}" data-value="{{ config.value }}"{% endif %}
                {% if config.ajaxPreload is defined %}data-ajax-preload="{{ config.ajaxPreload }}"{% endif %}
                {% if config.disabled %}disabled="disabled"{% endif %}>
            {% for key, option in config.options %}
                {% spaceless %}
                    <option value="{{ key }}" {% if key == config.value %}selected{% endif %}{% if option.disabled is defined and option.disabled %} disabled="disabled"{% endif %}>
                        {% if option.text is defined %}
                            {{ option.text }}
                        {% else %}
                            {{ option }}
                        {% endif %}
                    </option>
                {% endspaceless %}
            {% endfor %}
        </select>
    </div>
{% endmacro %}