<div class="fileUpload" data-type="fileUpload" data-name="{{ item.fieldName }}" data-config="{{ config | json_encode | escape }}" data-value="{{ config.value | json_encode | escape }}">
    <div class="row fileupload-buttonbar">
        <div class="span2">
            <!-- The fileinput-button span is used to style the file input field as button -->
                    <span class="btn btn-success fileinput-button disabled">
                        <i class="fa fa-plus icon-white"></i>
                        <span>Add files</span>
                        <input class="fileupload" type="file" name="files[]" multiple="multiple" disabled="disabled"
                               data-url="{{ config.apiUrl }}">
                    </span>
            <!-- The loading indicator is shown during file processing -->
            <span class="fileupload-loading"></span>
        </div>

        <!-- The global progress information -->
        <div class="span8 fileupload-progress" style="display: none;">
            <!-- The global progress bar -->
            <div id="progress" class="progress progress-success progress-striped" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                <div class="bar"></div>
            </div>
            <!-- The extended global progress information -->
            <div class="progress-extended">&nbsp;</div>
        </div>
    </div>

    {% if config.allowedExtensions is defined and config.allowedExtensions | length > 0 %}
        <div class="file-type-warning">
            <small>
                <span class="label label-info">Note</span>
                Only the following file types are accepted: {{ config.allowedExtensions | join(', ') | upper }}.
            </small>
        </div>
    {% endif %}

    <!-- The table listing the files available for upload/download -->
    <table role="presentation" class="table" style="width: auto;">
        {% if config.value and config.value | length > 0 %}
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>Name</th>
                    <th>Size</th>
                    <th>Caption</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
        {% endif %}
        <tbody class="filelist">
            {% for file in config.value %}
                {% if file.id is defined %}
                    <tr>
                        <td><i class="fa fa-file"></i></td>
                        <td>
                            <span rel="popover" data-trigger="hover" data-placement="top"
                               data-content="<div class='file-preview-popover' style='background-image:url(/common/api/files/image/{{ file.id }}/300);'></div>"
                               data-html="true" data-original-title="{{ file.name }}">{{ file.name }}</span>
                        </td>
                        <td>{{ file.size | filesize }}</td>
                        <td><textarea name="caption[]" class="filelist-caption input-large" rows="1" cols="40">{{ file.caption | default('') }}</textarea></td>
                        <td><a href="#" class="filelist-save btn btn-info btn-small disabled"
                               data-fileid="{{ file.id | default('') }}">Save</a></td>
                        <td><a href="#" class="filelist-delete btn btn-small btn-danger disabled"
                               data-fileid="{{ file.id | default('') }}">Delete</a></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>