{% for item in phase.items %}
    {% set itemShown = item.doPrerequisitesPass %}
    <td class="phase-item-grid-col form-group
        {% if item.config.colWidth is not empty %}{% for size, value in item.config.colWidth %}col-{{ size }}-{{ value }} {% endfor %}{% endif %}"
        data-update-token="{{ phase.phaseId }}-{{ item.updateToken }}-{{ loop.index0 }}"
        data-hidden="{{ itemShown ? 0 : 1 }}"
        data-checksum="{{ (itemShown ? 0 : 1) ~ item.checksum }}"{% if not itemShown %} style="display: none;"{% endif %}
        data-validation-msgs="{{ item.messages | json_encode }}"
            >{{ item | raw }}<p class="phase-item-validation-msgs help-block" style="display: none;"></p></td>
{% endfor %}
