{% if config.indent != true %}
    <div class="col-xs-12">
{% endif %}

{% if config.panel == true %}
    <div class="panel panel-default">
        {% if config.hideLabel != true or config.panelHeader == true %}
            <div class="panel-heading">{{ config.text }}</div>
        {% endif %}
{% endif %}

    {% if phases | length > 0 %}
        <table class="table table-striped" style="margin-bottom: 0px !important;">
            {% if config.showRowHeaders == true %}
                <thead>
                <tr>
                    {% if config.showColumnHeaders == true %}
                        <th>&nbsp;</th>
                    {% endif %}

                    {% for column in config.columns %}
                        <th>{{ column }}</th>
                    {% endfor %}
                </tr>
                </thead>
            {% endif %}
            <tbody>
            {% for index, subPhase in phases %}
                <tr data-form-input="phase.form" data-parent-form-key="{{ {
                    parentForm: phase.phaseId,
                    fieldName: config.fieldName,
                    dataKey: dataKey
                } | json_encode }}" data-form-key="{{ subPhase.phaseId }}">
                    {% if config.showColumnHeaders == true %}
                        <th class="phase-item-grid-col-header">{{ config.rows[index] }}</th>
                    {% endif %}

                    {{ subPhase | raw }}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% elseif config.emptyText is not empty %}
        {% if config.panel == true %}
            <div class="panel-body">
                <p style="margin: 0;"><small>{{ config.emptyText }}</small></p>
            </div>
        {% else %}
            <p class="row" style="margin-bottom: 0; margin-top: 10px;"><small>{{ config.emptyText }}</small></p>
        {% endif %}
    {% endif %}

{% if config.panel == true %}
    </div>
{% endif %}

{% if config.indent != true %}
    </div>
{% endif %}

