<div class="chosen-select chosen-select-block">
    <select {% if config.multiple is defined and config.multiple == true %} multiple="multiple" {% endif %} class="form-control image-picker" name="{{ config.fieldName }}"
            data-placeholder="-"
            data-form-input="phase.images"
            {% if config.optionsSourceType is defined and config.optionsSourceType == 'url' %}data-ajax-url="{{ config.optionsSource }}" data-value="{{ config.value }}"{% endif %}
            {% if config.ajaxPreload is defined %}data-ajax-preload="{{ config.ajaxPreload }}"{% endif %}
            {% if config.disabled %}disabled="disabled"{% endif %}
            data-images="true">



        {% for key, option in config.options %}

            {% spaceless %}
                <option value="{{ key }}"

                    {% if key in config.value %}selected{% endif %}
                    {% if option.disabled is defined and option.disabled %} disabled="disabled"{% endif %}
                    {% if option.image is not empty %} data-img-src="{{ asset(option.image) }}"{% endif %}
                    >
                    {% if option.text is defined %}
                        {{ option.text }}
                    {% else %}
                        {{ option }}
                    {% endif %}
                </option>
            {% endspaceless %}
        {% endfor %}

    </select>

</div>
