{% if item.doPrerequisitesPass %}
    <label for="{{ item.text }}" class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">
        {% if not item.isSingleColumn %}
            {{ item.text }}
        {% endif %}

        {% if item.config.vars.showHelpText is defined and item.config.vars.showHelpText == false %}
        {% else %}
            {% set formItemsList = 'inline' %}
            {% for subItem in items %}
                {% set formItemsList = formItemsList ~ '-' ~ subItem.config.fieldName %}
            {% endfor %}
            {{ _self.help(formItemsList, item.config.infoText) }}
        {% endif %}
    </label>
    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
        <div class="row inline-form-group">
            {% for subItem in items %}
                {% if subItem.doPrerequisitesPass %}
                    <div class="inline-form-item
                    {% if subItem.config.colWidth is not empty %}{% for size, value in subItem.config.colWidth %}col-{{ size }}-{{ value }} {% endfor %}{% endif %}
                    {% if subItem.config.offsetWidth is not empty %}{% for size, value in subItem.config.offsetWidth %}col-{{ size }}-offset-{{ value }} {% endfor %}{% endif %}
                    {% if subItem.config.cssClasses is not empty %}{{ subItem.config.cssClasses|join(' ') }}{% endif %}"
                    >
                        {% if item.config.showHeaders %}
                            {% if subItem.config.hideLabel != true %}
                                <label>{{ subItem.text }}</label>
                            {% else %}
                                <p>&nbsp;</p>
                            {% endif %}
                        {% endif %}
                        {{ subItem | raw }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <p class="phase-item-validation-msgs help-block" style="display: none;"></p>
    </div>
{% endif %}

{% macro help(fieldName, infoText) %}
    <span id="help-text-for-{{ fieldName }}" class="glyphicon glyphicon-question-sign help {% if is_granted('ROLE_KLARO_QUOTATION_ACCESS_ADMINISTRATION') %}keep-help-text{% endif %}"{% if infoText is empty %} style="color: lightgray;"{% endif %} title="" data-placement="bottom" data-fieldname="{{ fieldName }}" rel="popover" data-template='<div class="popover" role="tooltip"><h3 class="popover-title"></h3><div class="popover-content popover-content-infotext"></div></div>' data-trigger="hover" data-animation="false" data-content="{{ infoText|trim }}" data-html="true"></span>

    {% if infoText is not empty %}
        <span id="info-text-for-{{ fieldName }}" class="glyphicon glyphicon-question-sign help" style="display: none" title="" data-placement="bottom" rel="popover" data-template='<div class="popover" role="tooltip"><h3 class="popover-title"></h3><div class="popover-content popover-content-infotext"></div></div>' data-trigger="hover" data-animation="false" data-content="{{ infoText|trim }}" data-html="true"></span>
    {% endif %}
{% endmacro %}
