{{ widget_checkbox(config.fieldName, config.value) | raw }}
{% if config.hasChanged %}
<script>
    $.ajax({
        url: '{{ path(config.url, {"controller": config.controller, "action": config.action}) }}',
        success: function(html) {
            $('#side-navigation').html(html);
        }
    });
</script>
{% endif %}