{% import _self as macros %}

<div data-form-input="phase.number" data-field-name="{{ config.fieldName }}">
    {% if config.unit is not empty %}
        <div class="input-group"{% if config.width is not empty %} style="width: {{ config.width }};"{% endif %}>
            {{ macros.numberfield(config, false) }}
            <span class="input-group-addon">{{ config.unit }}</span>
        </div>
    {% else %}
        {{ macros.numberfield(config, true) }}
    {% endif %}

</div>

{% macro numberfield(config, setWidth = true) %}
    <input class="form-control"{% if config.isCurrency is not defined or (config.isCurrency is defined and config.isCurrency != 'true') %} type="number"{% endif %}
        step="{{ config.step is defined ? config.step : 'any' }}"
        {% if config.min is defined %} min="{{ config.min }}"{% endif %}
        {% if config.max is defined %} max="{{ config.max }}"{% endif %}
        {% if config.isCurrency is defined %} is-currency="{{ config.isCurrency ? 'true' : 'false' }}"{% endif %}

        {% if config.fieldName %} name="{{ config.fieldName }}"{% endif %}
        {% if config.value is not empty %}value="{{ config.value }}" {% endif %}
        {% if config.disabled %} disabled="disabled"{% endif %}
        {% if setWidth and config.width is not empty %} style="width: {{ config.width }};"{% endif %}/>
{% endmacro %}