{% import _self as forms %}

<script>
    var application = '{{ application }}';
</script>

<form id="phase" method="POST" class="form-horizontal" role="form"
      data-app="phase.form"
      data-form-key="{{ phase.phaseId }}"
      data-validation-msgs="{{ messages | json_encode }}">
    {% for item in items %}
        {% set itemShown = item.doPrerequisitesPass %}
        <div class="form-group
         phase-group-{{ item.config.fieldName is not empty ? item.config.fieldName : item.id | replace({' ' : '_'}) }}
         phase-group-type-{{ item.config.type }}
        {% if item.config.cssClasses is not empty %}{{ item.config.cssClasses|join(' ') }}{% endif %}"
             data-type="{{ item.config.type }}"
             data-update-token="{{ phase.phaseId }}-{{ item.updateToken }}-{{ loop.index0 }}"
             data-hidden="{{ itemShown ? 0 : 1 }}"
             data-checksum="{{ (itemShown ? 0 : 1) ~ item.checksum }}"{% if not itemShown %} style="display: none;"{% endif %}
             data-validation-msgs="{{ item.messages | json_encode }}">

            {% if item.hasItems %}
                {{ item | raw }}
            {% else %}
                {% if itemShown %}
                    {% if item.config.indent == true %}
                        <div class="col-xs-12 col-sm-offset-4 col-sm-8 col-md-offset-3 col-md-9 col-lg-offset-2 col-lg-10">
                            {{ _self.form_control(item.config.colWidth, item) }}
                        </div>
                    {% elseif item.isSingleColumn %}
                        {{ item | raw }}
                    {% else %}
                        {{ forms.form_group(item.text, item.fieldName, item, item.config.colWidth, item.config.infoText) }}
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
    {% endfor %}
</form>

{% macro help(fieldName, infoText) %}
    <span id="help-text-for-{{ fieldName }}" class="glyphicon glyphicon-question-sign help {% if is_granted('ROLE_KLARO_QUOTATION_ACCESS_ADMINISTRATION') %}keep-help-text{% endif %}"{% if infoText is empty %} style="color: lightgray;"{% endif %} title="" data-application="{{ application }}" data-placement="bottom" data-fieldname="{{ fieldName }}" rel="popover" data-template='<div class="popover" role="tooltip"><h3 class="popover-title"></h3><div class="popover-content popover-content-infotext"></div></div>' data-trigger="hover" data-animation="false" data-content="{{ infoText|trim }}" data-html="true"></span>

    {% if infoText is not empty %}
        <span id="info-text-for-{{ fieldName }}" class="glyphicon glyphicon-question-sign help" style="display: none" title="" data-placement="bottom" rel="popover" data-template='<div class="popover" role="tooltip"><h3 class="popover-title"></h3><div class="popover-content popover-content-infotext"></div></div>' data-trigger="hover" data-animation="false" data-content="{{ infoText|trim }}" data-html="true"></span>
    {% endif %}
{% endmacro %}

{% macro form_group(label, fieldName, content, colWidth = null, infoText = '') %}
    {% import _self as forms %}
    <label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label" for="{{ fieldName }}">
        {{ label }}

        {{ _self.help(fieldName, infoText) }}
    </label>
    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">

        {{ forms.form_control(colWidth, content) }}
    </div>
{% endmacro %}

{% macro form_control(colWidth, item) %}
    {% if colWidth is not empty %}
        <div class="row">
            <div class="phase-item {% for size, value in colWidth %}col-{{ size }}-{{ value }} {% endfor %}">
                {{ item | raw }}
            </div>
        </div>
    {% else %}
        <div class="phase-item">{{ item | raw }}</div>
    {% endif %}

    <p class="phase-item-validation-msgs help-block" style="display: none;"></p>
{% endmacro %}

{% if is_granted('ROLE_KLARO_QUOTATION_ACCESS_ADMINISTRATION') %}
    <div id="help-text-modal"></div>
    <script type="text/template" id="add-edit-help-template">
        <div id="add-edit-help-modal" class="modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <input type="hidden" id="fieldname" value="<%= fieldname %>" />
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title"> <%= update === true ?  'Update' : 'Add' %> help text</h3>
                    </div>
                    <div class="modal-body">
                        <textarea id="add-edit-help-textarea" class="form-control" style="min-width: 100%; min-height: 100px;"><%= content %></textarea>
                    </div>
                    <div class="modal-footer">
                        <button id="save-button" type="button" class="btn btn-success" disabled="disabled"><%= update === true ?  'Update' : 'Add' %></button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </script>
{% endif %}
