<div data-form-input="phase.radio" data-field-name="{{ config.fieldName }}">
    {% for key, option in config.options %}
        <div class="radio">
            <label>
                <input type="radio" name="{{ config.fieldName }}" value="{{ key }}"{% if key == config.value %} checked="checked"{% endif %}{% if option.disabled %}disabled="disabled"{% endif %}/>
                {{ option.text }}
            </label>
        </div>
    {% endfor %}
</div>
