<div data-type="slider" data-name="{{ item.fieldName }}" data-value="{{ config.value }}" data-options="{{ config.options | json_encode | escape }}">
    <div class="widgetSlider-slider"></div>
    <table style="width: 100%; table-layout: fixed;">
        <tr>
        {% for key, value in config.options %}
            <td style="text-align: {% if loop.index0 == 2 %}right{% elseif loop.index0 == 0 %}left{% else %}center{% endif %};">
                {{ value.text }}
            </td>
        {% endfor %}
        </tr>
    </table>
</div>