{% import _self as macros %}

<div class="phase-text" data-form-input="phase.text"
     data-field-name="{{ config.fieldName }}">
    <div class="default-value" style="display: none;">{{ item.defaultValue | default('') }}</div>

    {% if config.sizeRows > 1 %}
        <textarea rows="{{ config.sizeRows }}"
                  class="form-control" {% if config.width is not empty %} style="width: {{ config.width }}"{% endif %}
                  cols="{{ config.sizeColumns }}"
                  {% if config.fieldName %} name="{{ config.fieldName }}"{% endif %}
                  {% if config.disabled %} disabled="disabled"{% endif %}
                  {% if config.placeholder is not empty %}placeholder="{{ config.placeholder }}"{% endif %}>{{ config.value }}</textarea>
    {% else %}
        {% if config.unit is not empty %}
            <div class="input-group"{% if config.width is not empty %} style="width: {{ config.width }};"{% endif %}>
                {{ macros.textfield(config, false) }}
                <span class="input-group-addon">{{ config.unit }}</span>
            </div>
        {% else %}
            {{ macros.textfield(config, true) }}
        {% endif %}
    {% endif %}

    {% if not config.disabled and config.allowRestore is defined and config.allowRestore == true %}
        <button class="default-value-button btn btn-default btn-xs disabled" disabled="disabled">Restore default value</button>
    {% endif %}

</div>

{% macro textfield(config, setWidth = true) %}
    <input class="form-control" autocomplete="off"
           type="text"
            {% if setWidth and config.width is defined %} style="width: {{ config.width }};"{% endif %}
            {% if config.fieldName %} name="{{ config.fieldName }}"{% endif %}
            {% if config.value is not empty %}value="{{ config.value }}" {% endif %}
            {% if config.disabled %} disabled="disabled"{% endif %}
            {% if config.placeholder is not empty %}placeholder="{{ config.placeholder }}"{% endif %}/>
{% endmacro %}