{% if config.indent != true %}
    <div class="col-xs-12">
{% endif %}

    <h{{ config.titleLevel }} class="phase-title">{% if config.icon is defined %}<i class="fa fa-{{ config.icon }}"></i> {% endif %}{{ config.text }}</h{{ config.titleLevel }}>

{% if config.indent != true %}
    </div>
{% endif %}
