{% extends 'KlaroQuotationBundle::base.html.twig' %}

{% block body %}

    <h1>{{ 'general.exception.title' | trans({}, 'KlaroQuotationBundle') }}</h1>

    <p>{{ exception.message }}</p>

{% endblock %}

{% block sideNavigation %}
{% endblock %}

{% block breadcrumbs %}
{% endblock %}
