{% import _self as macros %}

{% if title is defined and title is not empty %}
    <h4 class="phases-menu-title">{{ title }}</h4>
{% endif %}

<ul class="phases-menu">
    {% for node in menu %}
        <li class="phases-menu-level-1">
            {{ macros.menuItem(node) }}
        </li>
    {% endfor %}
</ul>


{% macro menuItem(node) %}
    {% import _self as macros %}

    {{ macros.menuItemContent(node) }}

    {% if node.children is not empty %}
        {{ macros.childMenu(node.children) }}
    {% endif %}
{% endmacro %}

{% macro childMenu(children) %}
    {% import _self as macros %}
    <ul class="phases-menu-products">
        {% for child in children %}
            <li class="phases-menu-level-2">
                {{ macros.menuItemContent(child) }}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% macro menuItemContent(node) %}
    {% import _self as macros %}
    {% if node.disabled == false %}
        <a href="{{ node.url ?? '#' }}"
           rel="phase-link"
           data-title="{{ node.title }}"
           data-type="{{ node.type }}"
           class="{{ node.active ? 'active': '' }}"
           {% if node.dataAttributes is defined and node.dataAttributes | length > 0 %}
               {% for attribute, value in node.dataAttributes %}
                   data-{{ attribute }}="{{ value is iterable ? value | json_encode : value }}"
               {% endfor %}
           {% endif %}
        >
            <div class="phases-menu-child-toggle">
                {% if node.icon is defined and node.icon is not empty %}
                    <i class="fa fa-{{ node.icon }}"></i>
                {% endif %}
            </div>
            {{ node.title }}
        </a>
    {% else %}
        <span class="disabled">{{ node.title }}</span>
    {% endif %}

    {% if node.notice is not empty %}
        <small class="phases-menu-notice">{{ node.notice }}</small>
    {% endif %}
{% endmacro %}
