{% block description %}
{% endblock %}

{% block alerts %}
    {% if validationResult.Violations | length <= 0 and validationResult.Notices | length > 0 %}
    <div class="alert alert-info" role="alert">
        <ul>
            {% for notice in validationResult.Notices %}
                <li>
                    <i class="fa fa-info"></i>

                    {% if notice.Url is not empty %}
                        <a href="{{ notice.Url }}" class="alert-link">
                            {{ notice.Title }}
                        </a>
                    {% else %}
                        <strong>{{ notice.Title }}</strong>
                    {% endif %}

                    {% if notice.Reason is not empty %}
                        : {{ notice.Reason }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endblock %}

{% block summary %}

    {% if validationResult.hasViolations %}
        {% include '@KlaroQuotation/Quotation/summary/locked.html.twig' with {violations: validationResult.violations} %}
    {% else %}
        {{ summaryPage | raw }}
    {% endif %}

{% endblock %}
