{% import _self as macros %}

{% block table %}
    {{ klaro_quotation_configuration(configuration, currencyConverter) }}

    {# showing optional and other tables if at least one item exists #}
    {% for scope in configuration.getScopes() %}
        {% if (scope != 'default' and configuration.hasItemRecursive(scope)) %}
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">{{ ('summary.scopes.' ~ (scope is iterable ? scope|join('_') : scope)) | trans({}, 'KlaroQuotationBundle') }}</h3></div>
                {{ klaro_quotation_configuration(configuration, currencyConverter, scope) }}
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block totals %}
    <div class="panel panel-default">

        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="row">

                <div class="col-xs-12 col-md-6 col-lg-7 notice">
                    {% block totals_notice %}
                        {% if is_granted('ROLE_KLARO_QUOTATION_COMPARE_QUOTATIONS') %}
                            <div data-app="revision.compare" data-quotation-id="{{ quotation.Id }}" data-revision-id="{{ revision.RevisionId }}">
                                <div class="js-revision-list">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-spinner"></i></span>
                                        <select class="form-control" disabled="disabled">
                                        </select>
                                        <span class="input-group-btn">
                                            <button class="btn btn-default js-save-button" type="button" disabled="disabled">Compare</button>
                                         </span>
                                    </div>
                                </div>

                                <div class="js-compare-chart">
                                </div>
                            </div>
                        {% endif %}
                    {% endblock %}
                </div><!--/col-->

                <div class="col-xs-12 col-md-6 col-lg-5 recap">
                    <table class="table table-clear" data-app="priceupdater"
                           data-prices="{{ configuration | klaro_quotation_summary_data(revision, currencyConverter) | json_encode }}">
                        <tbody>
                        {% if stateMachine.isOrder %}
                            <tr class="js-order-price-row">
                                <td class="left col-xs-9 col-sm-9 col-md-7 col-lg-6">
                                    <strong>{{ 'summary.totals.final_price_with_tax'| trans({}, 'KlaroQuotationBundle') }}</strong>
                                </td>
                                <td class="right col-xs-3 col-sm-3 col-md-5 col-lg-5 js-sales-price-content">
                                    {{ currencyConverter.toCurrency(configuration.TotalSalesPriceWithTax) | number_format(0, ',', ' ') }} {{ currencyConverter.currency }}
                                </td>
                                <td class="col-lg-1">
                                    {% if is_granted('ROLE_KLARO_QUOTATION_OVERRIDE_ORDER_PRICE') %}
                                        <a href="#" class="btn btn-default btn-sm js-edit-save-button"><i class="fa fa-pencil"></i></a>
                                    {% else %}
                                        &nbsp;
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}

                        {% if is_granted('ROLE_KLARO_QUOTATION_ACCESS_TOTAL_SALES_PRICE') %}
                            <tr class="js-sales-price-row">
                                <td class="js-sales-price-title">
                                    <strong>{{ 'summary.totals.sales_price_with_tax'| trans({}, 'KlaroQuotationBundle') }}</strong>
                                </td>
                                <td class="js-sales-price-value">
                                    {{ currencyConverter.toCurrency(configuration.TotalSalesPriceWithTax) | number_format(0, ',', ' ') }} {{ currencyConverter.currency }}
                                </td>
                            </tr>
                            {% if configuration.SalesTaxTotals | length > 0 %}
                                <tr class="js-sales-tax-row">
                                    <td>
                                        <strong>{{ 'summary.totals.sales_tax'| trans({}, 'KlaroQuotationBundle') }}</strong>
                                    </td>
                                    <td class="js-sales-tax-value">
                                        {% for percentage, total in configuration.SalesTaxTotals %}
                                            {{ currencyConverter.toCurrency(total) | number_format(0, ',', ' ') }} {{ currencyConverter.currency }} ({{ percentage }} %)<br />
                                        {% endfor %}
                                    </td>
                                    <td>&nbsp;</td>
                                </tr>
                            {% endif %}
                        {% endif %}

                        {% if is_granted('ROLE_KLARO_QUOTATION_ACCESS_TOTAL_COST_PRICE') %}
                            <tr>
                                <td class="left">
                                    <strong>{{ 'summary.totals.cost_price'| trans({}, 'KlaroQuotationBundle') }}</strong>
                                </td>
                                <td class="right">{{ currencyConverter.toCurrency(configuration.totalCostPrice) | number_format(0, ',', ' ') }} {{ currencyConverter.currency }}</td>
                                <td>&nbsp;</td>
                            </tr>
                        {% endif %}

                        {% if is_granted('ROLE_KLARO_QUOTATION_ACCESS_TOTAL_PROFIT') %}
                            <tr class="js-profit-row">
                                <td>
                                    <strong>
                                        {{ 'summary.totals.profit'| trans({}, 'KlaroQuotationBundle') }}
                                    </strong>
                                </td>
                                <td class="js-profit-value">{{ currencyConverter.toCurrency(configuration.totalProfit) | number_format(0, ',', ' ') }} {{ currencyConverter.currency }}</td>
                                <td>&nbsp;</td>
                            </tr>
                        {% endif %}

                        {% if is_granted('ROLE_KLARO_QUOTATION_ACCESS_TOTAL_PROFIT_MARGIN') %}
                            <tr class="js-profit-margin-row">
                                <td class="left">
                                    <strong>{{ 'summary.totals.profit_margin'| trans({}, 'KlaroQuotationBundle') }}</strong>
                                </td>
                                <td>
                                    <strong class="js-profit-margin-value">
                                        {% if configuration.totalSalesPrice > 0 %}
                                            {{ configuration.totalProfitMargin | number_format(2, ',', ' ') }} %
                                        {% else %}
                                            -
                                        {% endif %}
                                    </strong>
                                </td>
                                <td>&nbsp;</td>
                            </tr>
                        {% endif %}

                        {% for scope in configuration.getScopes() %}
                            {% if (scope != 'default' and configuration.hasItemRecursive(scope)) %}
                                {% if is_granted('ROLE_KLARO_QUOTATION_ACCESS_TOTAL_SALES_PRICE') %}
                                    <tr class="js-{{ scope }}-sales-price-row">
                                        <td class="js-{{ scope }}-sales-price-title">
                                            <strong>{{ ('summary.totals.' ~ scope ~ '_final_price_with_tax') | trans({}, 'KlaroQuotationBundle') }}</strong>
                                        </td>
                                        <td class="js-{{ scope }}-sales-price-value">
                                            {{ currencyConverter.toCurrency(configuration.getTotalSalesPriceWithTax(scope)) | number_format(0, ',', ' ') }} {{ currencyConverter.currency }}
                                        </td>
                                    </tr>
                                {% endif %}

                                {% if is_granted('ROLE_KLARO_QUOTATION_ACCESS_TOTAL_PROFIT_MARGIN') %}
                                    <tr class="js-{{ scope }}-profit-margin-row">
                                        <td class="left">
                                            <strong>{{ ('summary.totals.' ~ scope ~ '_profit_margin') | trans({}, 'KlaroQuotationBundle') }}</strong>
                                        </td>
                                        <td>
                                            <strong class="js-{{ scope }}-profit-margin-value">
                                                {% if configuration.getTotalSalesPrice(scope) > 0 %}
                                                    {{ configuration.getTotalProfitMargin(scope) | number_format(2, ',', ' ') }} %
                                                {% else %}
                                                    -
                                                {% endif %}
                                            </strong>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endif %}
                        {% endfor %}

                        {% block totals_extra %}
                        {% endblock %}
                        </tbody>
                    </table>
                </div><!--/col-->

            </div>
        </div>
    </div>

{% endblock %}
