<div class="alert alert-warning">
    <div class="row">
        <div class="col-sm-2">
            <div class="summary-locked-icon">
                <i class="fa fa-lock"></i>
            </div>
        </div>
        <div class="col-sm-10">

            <h3>Summary is locked</h3>

            <p>Some errors were detected which should be corrected before accessing the offering summary.</p>

            <ul>
            {% for violation in violations %}
                <li>
                    {% if violation.Url is not empty %}
                        <a href="{{ violation.Url }}" class="alert-link">
                            {{ violation.Title }}
                        </a>
                    {% else %}
                        <strong>{{ violation.Title }}</strong>
                    {% endif %}

                    {% if violation.Reason is not empty %}
                        : {{ violation.Reason }}
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>

