{% block navbar %}

    {% embed 'KlaroQuotationBundle:Quotation:partials/navbar.html.twig' with {
        navbarId   : 'summary',
        show_left  : (summaryPages | length > 1),
        show_right : (outputDocuments | length > 0 and stateMachine.isPrintable)
    } %}
        {% block header %}
            <a class="navbar-brand" href="#">{{ 'summary.navbar.title'| trans({}, 'KlaroQuotationBundle') }}</a>
        {% endblock %}

        {% block left %}
            {% for summaryPageId, summaryPage in summaryPages %}
                <li class="{% if summaryPageId == subPage %} active{% endif %}"><a href="{{ path('klaro_quotation_revision_summary', {
                    quotationId : quotation.id,
                    revisionId  : revision.revisionId,
                    subPage : summaryPageId
                    }) }}">{{ summaryPage.title }}</a></li>
            {% endfor %}
        {% endblock %}

        {% block right %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-print"></i>
                    <span class="hidden-sm hidden-md">{{ 'summary.navbar.print_options'| trans({}, 'KlaroQuotationBundle') }}</span>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" data-app="output-documents" data-quotation-id="{{ quotation.id }}">
                    {% for documentId, definition in outputDocuments %}
                        {% if definition.isVisible %}
                            {% if definition.isDisabled %}
                                <li class="disabled">
                                    <a href="#" class="disabled js-download-link" id="js-download-{{ documentId }}" disabled="disabled">{{ definition.title }}</a>
                                </li>
                            {% else %}
                                <li>
                                    <a href="{{ path('klaro_quotation_get_revision_document', {
                                        quotationId : quotation.id,
                                        revisionId : revision.revisionId,
                                        documentId : documentId
                                        }) }}"

                                        class="js-download-link" id="js-download-{{ documentId }}" data-document-id="{{ documentId }}">{{ definition.title }}
                                    </a>
                                </li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                    {% if outputDocuments|length > 1 %}
                        <li role="presentation" class="divider"></li>
                        <li><a href="{{ path('klaro_quotation_get_revision_multiple', {
                            quotationId : quotation.id,
                            revisionId : revision.revisionId
                            }) }}" class="js-download-link">
                                <i class="fa fa-download"></i> {{ 'summary.output_documents.zip_all' | trans({}, 'KlaroQuotationBundle') }}
                            </a>
                        </li>
                        <li><a href="#" class="js-choose-ouput-documents">
                                <i class="fa fa-download"></i> {{ 'summary.output_documents.zip_chosen' | trans({}, 'KlaroQuotationBundle') }}
                            </a>
                        </li>
                    {% endif %}

                </ul>
            </li>
        {% endblock %}
    {% endembed %}

{% endblock %}

