{% block title %}
    <h1>{{ 'summary.title.quotation' | trans({
            '%identifier%': revision.identifier,
            '%title%': revision.title
        }, 'KlaroQuotationBundle') }}
        <small>{{ 'summary.title.specifier'| trans({
                '%quotationType%': klaro_quotation_type_names[quotation.quotationType]
            }, 'KlaroQuotationBundle') }}</small>
    </h1>
{% endblock %}

