{% extends 'KlaroQuotationBundle::base.html.twig' %}

{% block title %}
    {{ parent() }} - {{ revision.identifier }} {{ revision.title }}
{% endblock %}

{% block bodyjavascripts %}
    {{ parent() }}

    {{ klaro_quotation_load_modules([
        {
            module : 'sidebar',
            el     : '.main-content-area',
            title  :  'edit.sidebar.title' | trans({}, 'KlaroQuotationBundle'),
            config : sidebarPages, route : 'klaro_quotation_sidebar',
            routeParams : {
                quotationId : quotation.id,
                revisionId  : revision.revisionId,
                phaseId     : ''
            } | merge(app.request.query.all)
        }
    ]) }}
{% endblock %}

{% block sideNavigation %}
    {{ klaro_quotation_menu_phase_back(revision) }}
    {{ klaro_quotation_menu_phase_inputdata(revision, true) }}
    {{ klaro_quotation_menu_offering_summary(revision) }}
{% endblock %}

{% block body %}

    {% embed 'KlaroQuotationBundle:Quotation:edit/title.html.twig' %}
    {% endembed %}

    {% embed 'KlaroQuotationBundle:Quotation:revision/toolbar.html.twig' %}
    {% endembed %}

    {% embed 'KlaroQuotationBundle:Quotation:edit/navbar.html.twig' %}
    {% endembed %}

    {% embed 'KlaroQuotationBundle:Quotation:edit/body.html.twig' %}
    {% endembed %}

{% endblock %}
