{% extends 'KlaroQuotationBundle::base.html.twig' %}

{% block body %}

    <h1>{{ klaro_quotation_application_title }}</h1>

    <p>{{ 'index.header.choose_quotation_type'| trans({}, 'KlaroQuotationBundle') }}</p>

    <div class="panel panel-default">
        <div class="panel-body">

            <div class="row">
                {% for quotationType, productLine in quotationTypes %}
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="block">
                            <a href="{{ path('klaro_quotation_list', {quotationType : quotationType}) }}">
                            {% if productLine.image is defined %}
                                <div class="thumb" style="background-image: url('{{ asset(productLine.image) }}')">
                                </div>
                            {% else %}
                                <div class="thumb">
                                    <div class="thumb-missing"><i class="fa fa-picture-o"></i></div>
                                </div>
                            {% endif %}
                            </a>
                            <p class="product-line">{{ 'index.list.product_line'| trans({
                                    '%productLine%': productLine.title
                                }, 'KlaroQuotationBundle') }}</p>
                            <h4><a href="{{ path('klaro_quotation_list', {quotationType : quotationType}) }}">{{ klaro_quotation_type_names[quotationType] }}</a></h4>
                            </div>
                    </div>

                {% if loop.index % 4 == 0 %}
                    </div>
                    <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
