{% extends 'KlaroQuotationBundle::base.html.twig' %}

{% block title %}
    {{ parent() }} - {{ quotation.identifier }} {{ quotation.title }}
{% endblock %}

{% block sideNavigation %}
    {{ klaro_quotation_menu_quotation_types(quotation.quotationType) }}
{% endblock %}

{% block body %}

    {% embed 'KlaroQuotationBundle:Quotation:info/title.html.twig' %}
    {% endembed %}

    {% embed 'KlaroQuotationBundle:Quotation:info/body.html.twig' %}
    {% endembed %}

    {% embed 'KlaroQuotationBundle:Quotation:info/revisions.html.twig' %}
    {% endembed %}

    <div style="margin-top: 20px;">
        <a href="{{ path('klaro_quotation_list', {'quotationType' : quotation.quotationType, 'user' : 'user'}) }}">
            <i class="fa fa-angle-left"></i> {{ 'info.back'| trans({}, 'KlaroQuotationBundle') }}
        </a>
    </div>

{% endblock %}
