{% extends 'KlaroQuotationBundle::base.html.twig' %}

{% block title %}
    {{ parent() }} - {{ klaro_quotation_type_names[quotationType] }}
{% endblock %}

{% block sideNavigation %}
    {{ klaro_quotation_menu_quotation_types(quotationType) }}
{% endblock %}

{% block body %}

    {% embed 'KlaroQuotationBundle:Quotation:list/title.html.twig' %}
    {% endembed %}

    {% embed 'KlaroQuotationBundle:Quotation:list/navbar.html.twig' %}
    {% endembed %}

    {% embed 'KlaroQuotationBundle:Quotation:list/body.html.twig' %}
    {% endembed %}

{% endblock %}
