{% if type == 'summary' and configuration != null %}
    <style>

        .sidebar-summary td {
            font-size: 0.9em !important;
            padding: 2px 4px;
        }

        .sidebar-summary td.right {
            text-align: right;
        }

    </style>

    <table class="sidebar-summary table table-striped">
        <tbody>
        {{ _self.summary(configuration.sections, currencyConverter) }}
        </tbody>
    </table>

    <hr />

    <dl class="dl-horizontal">
        {% if is_granted('ROLE_KLARO_QUOTATION_ACCESS_TOTAL_SALES_PRICE') %}
            <dt>{{ 'summary.totals.sales_price_with_tax' | trans({}, 'KlaroQuotationBundle') }}</dt>
            <dd>{{ currencyConverter.toCurrency(configuration.TotalSalesPriceWithTax) | number_format(0, ',', ' ') }} {{ currencyConverter.currency }}

            {% if configuration.SalesTaxTotals | length > 0 %}
                <dt>{{ 'summary.totals.sales_tax'| trans({}, 'KlaroQuotationBundle') }}</dt>
                <dd>
                    {% for percentage, total in configuration.SalesTaxTotals %}
                        {{ currencyConverter.toCurrency(total) | number_format(0, ',', ' ') }} {{ currencyConverter.currency }} ({{ percentage }} %)<br />
                    {% endfor %}
                </dd>
            {% endif %}
        {% endif %}

        {% if is_granted('ROLE_KLARO_QUOTATION_ACCESS_TOTAL_COST_PRICE') %}
            <dt>{{ 'summary.totals.cost_price' | trans({}, 'KlaroQuotationBundle') }}</dt>
            <dd>{{ currencyConverter.toCurrency(configuration.totalCostPrice) | number_format(0, ',', ' ') }} {{ currencyConverter.currency }}</dd>
        {% endif %}

        {% if is_granted('ROLE_KLARO_QUOTATION_ACCESS_TOTAL_PROFIT') %}
            <dt>{{ 'summary.totals.profit' | trans({}, 'KlaroQuotationBundle') }}</dt>
            <dd>{{ currencyConverter.toCurrency(configuration.totalSalesPrice - configuration.totalCostPrice) | number_format(0, ',', ' ') }} {{ currencyConverter.currency }}</dd>
        {% endif %}

        {% if is_granted('ROLE_KLARO_QUOTATION_ACCESS_TOTAL_PROFIT_MARGIN') %}
            <dt>{{ 'summary.totals.profit_margin' | trans({}, 'KlaroQuotationBundle') }}</dt>
            <dd>
                {% if configuration.totalSalesPrice > 0 %}
                    {{ (((configuration.totalSalesPrice - configuration.totalCostPrice) / configuration.totalSalesPrice) * 100) | number_format(2, ',', ' ') }} %
                {% else %}
                    -
                {% endif %}
            </dd>
        {% endif %}
    </dl>

    {% macro summary(sections, currencyConverter) %}
        {% for section in sections %}
            {% if section.level <= klaro_quotation_summary_level or is_granted('ROLE_KLARO_QUOTATION_ACCESS_SUMMARY_HIERARCHY') and section.level <= klaro_quotation_sidebar_summary_level %}
                {% if section.hasItem %}
                    {% set confItem = section.item %}

                    <tr class="price-schedule-level-{{ section.level }}">
                        <td>
                            {% if is_granted('ROLE_KLARO_QUOTATION_ACCESS_ITEM_CODE') %}
                                {{ confItem.itemCode }}
                            {% endif %}
                            {{ confItem.InternalTitle }}
                        </td>
                        <td class="right">{{ confItem.quantity }}</td>

                        {% if is_granted('ROLE_KLARO_QUOTATION_ACCESS_SALES_PRICE') %}
                            <td class="right">{{ currencyConverter.toCurrency(confItem.salesPrice) | number_format(0, ',', ' ') }}</td>
                        {% endif %}
                    </tr>
                {% else %}
                    <tr class="price-schedule-level-{{ section.level }}">
                        <td colspan="2">{{ section.title }}</td>

                        {% if is_granted('ROLE_KLARO_QUOTATION_ACCESS_SALES_PRICE') %}
                            <td class="right">{{ currencyConverter.toCurrency(section.totalSalesPrice) | number_format(0, ',', ' ') }}</td>
                        {% endif %}
                    </tr>
                {% endif %}

                {{ _self.summary(section.sections, currencyConverter) }}
            {% endif %}

        {% endfor %}
    {% endmacro %}
{% endif %}
