{% extends 'KlaroQuotationBundle::base.html.twig' %}

{% block sideNavigation %}
    {{ klaro_quotation_menu_phase_back(revision) }}
    {{ klaro_quotation_menu_phase_inputdata(revision) }}
    {{ klaro_quotation_menu_offering_summary(revision, subPage) }}
{% endblock %}

{% block body %}

    {% embed 'KlaroQuotationBundle:Quotation:summary/title.html.twig' %}
    {% endembed %}

    {% embed 'KlaroQuotationBundle:Quotation:revision/toolbar.html.twig' %}
    {% endembed %}

    {% embed 'KlaroQuotationBundle:Quotation:summary/navbar.html.twig' %}
    {% endembed %}

    {% embed 'KlaroQuotationBundle:Quotation:summary/body.html.twig' %}
    {% endembed %}

{% endblock %}
