{% import _self as macros %}

{% if print_header %}
<table class="table table-bordered price-schedule" data-app="treetable">
    <thead>
    <tr>
        <th class="price-schedule-header price-schedule-col-item" colspan="3">
            {{ 'summary.groups.item_name'| trans({}, 'KlaroQuotationBundle') }}

            <div class="price-schedule-controls">
                <a href="#" class="btn btn-default btn-xs js-expand-all">
                    <i class="fa fa-expand"></i>
                    <span class="hidden-xs hidden-sm hidden-md">Expand all</span>
                </a>
                <a href="#" class="btn btn-default btn-xs js-collapse-all">
                    <i class="fa fa-compress"></i>
                    <span class="hidden-xs hidden-sm hidden-md">Collapse all</span>
                </a>
            </div>
        </th>
        <th class="price-schedule-header price-schedule-col-unit" colspan="3">
            {{ 'summary.groups.unit_price'| trans({'%currency%' : currencyConverter.currency}, 'KlaroQuotationBundle') }}
        </th>
        <th class="price-schedule-header price-schedule-col-total" colspan="2">
            {{ 'summary.groups.total_price'| trans({'%currency%' : currencyConverter.currency}, 'KlaroQuotationBundle') }}
        </th>
    </tr>
    <tr>
        <th class="price-schedule-header price-schedule-col-item col-md-3">
            {{ 'summary.columns.section'| trans({}, 'KlaroQuotationBundle') }}
        </th>
        <th class="price-schedule-header price-schedule-col-item col-md-1">
            {{ 'summary.columns.item_code'| trans({}, 'KlaroQuotationBundle') }}
        </th>
        <th class="price-schedule-header price-schedule-col-item col-md-3">
            {{ 'summary.columns.item_name'| trans({}, 'KlaroQuotationBundle') }}
        </th>
        <th class="price-schedule-header price-schedule-col-unit col-md-1">
            {{ 'summary.columns.unit_quantity'| trans({}, 'KlaroQuotationBundle') }}
        </th>
        <th class="price-schedule-header price-schedule-col-unit col-md-1">
            {{ 'summary.columns.unit_cost_price'| trans({}, 'KlaroQuotationBundle') }}
        </th>
        <th class="price-schedule-header price-schedule-col-unit col-md-1">
            {{ 'summary.columns.unit_sales_price'| trans({}, 'KlaroQuotationBundle') }}
        </th>
        <th class="price-schedule-header price-schedule-col-total col-md-1">
            {{ 'summary.columns.total_cost_price'| trans({}, 'KlaroQuotationBundle') }}
        </th>
        <th class="price-schedule-header price-schedule-col-total col-md-1">
            {{ 'summary.columns.total_sales_price'| trans({}, 'KlaroQuotationBundle') }}
        </th>
    </tr>
    </thead>
    {% endif %}
    <tbody>
    {{ macros.summary(configuration, currencyConverter, scope, prefix, start_index, false, print_first_level) }}
    </tbody>
</table>

<script type="text/javascript">
    require(['bootstrap'], function() {
        $('.value-tooltip').tooltip({ placement: 'auto', 'html' : true });
        $('.value-popover')
            .popover({ placement: 'auto', 'html' : true, trigger: 'click' })
            .on('click', function(e) {
                // Hide other popovers.
                $('.value-popover').not(this).popover('hide');

                // Prevent clicking throught the element
                $('.popover.in').on('click', function(e) {
                    e.preventDefault();
                    e.stopPropagation();
                });

                // Prevent clicking the badge from opening the sumamry section.
                e.preventDefault();
                e.stopPropagation();
            });

        // Dismiss popover when clicking outside the element.
        $('html').on('click', function(e) {
            if (typeof $(e.target).data('original-title') == 'undefined' && !$(e.target).parents().is('.popover.in')) {
                $('.value-popover').popover('hide');
            }
        });
    });
</script>

{% macro formatSectionErrors(errors) %}
    <dl>
        {% for error in errors %}
            <dt><i class="fa fa-exclamation-circle"></i> {{ error.title }}</dt>
            <dd>{{ error.description }}</dd>

            {% if error.hasContext %}
                <pre class="section-error-context">{{ error.context | json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
            {% endif %}
        {% endfor %}
    </dl>
{% endmacro %}

{% macro sectionTitle(section) %}
    {% import _self as macros %}
    {{ section.title }}

    {% set sectionErrors = section.errors | length %}
    {% set errorCount = section.errorCount %}

    {% if sectionErrors > 0 or section.level >= klaro_quotation_summary_level and errorCount > 0 %}
        {% if sectionErrors > 0 %}
            <span class="value-popover" data-toggle="popover" data-content="{{ macros.formatSectionErrors(section.errors) |escape }}">
                <span class="badge btn-danger"><i class="fa fa-exclamation-circle"></i> {{ sectionErrors }}</span>
            </span>
        {% else %}
            <span class="value-popover" data-toggle="popover" data-content="This section has a total of {{ errorCount }} errors. Please check the error message from each section.">
                <span class="badge btn-warning"><i class="fa fa-exclamation-circle"></i> {{ errorCount }}</span>
            </span>
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro summary(section, currencyConverter, scope, prefix, index, hide, print_first_level) %}

    {% import _self as macros %}

    {% set sectionId = prefix ~ '-' ~ section.id ~ index %}

    {% if print_first_level %}
        {% if is_granted('ROLE_KLARO_QUOTATION_ACCESS_SUMMARY_HIERARCHY') or section.level <= klaro_quotation_summary_level %}
            {% if not section.item %}
                {% if ((section.level == 0 and scope == 'default') or section.hasItemRecursive(scope)) %}
                    <tr data-tt-id="{{ sectionId }}" {% if hide == true %}data-tt-parent-id="{{ prefix }}"{% endif %}
                        class="price-schedule-level-{{ section.level }} price-schedule-section-{{ section.id }} price-schedule-section-{{ section.id }}">
                        <td class="price-schedule-col-item" colspan="3">{% if (section.level == 0 and scope != 'default') %}{{ ('summary.scopes.' ~ (scope is iterable ? scope|join('_') : scope)) | trans({}, 'KlaroQuotationBundle') }}{% else %}{{ macros.sectionTitle(section) }}{% endif %}</td>
                        <td class="price-schedule-col-unit right-align">&nbsp;</td>
                        <td class="price-schedule-col-unit right-align">&nbsp;</td>
                        <td class="price-schedule-col-unit right-align">&nbsp;</td>

                        <td class="price-schedule-col-total right-align">
                            {% if is_granted('ROLE_KLARO_QUOTATION_ACCESS_COST_PRICE') and (not hide or is_granted('ROLE_KLARO_QUOTATION_ACCESS_SUMMARY_HIERARCHY_PRICES')) %}
                                {{ currencyConverter.toCurrency(section.getTotalCostPrice(scope)) | number_format(0, ',', ' ') }}
                            {% else %}
                                &nbsp;
                            {% endif %}
                        </td>
                        <td class="price-schedule-col-total right-align">
                            {% if is_granted('ROLE_KLARO_QUOTATION_ACCESS_SALES_PRICE') and (not hide or is_granted('ROLE_KLARO_QUOTATION_ACCESS_SUMMARY_HIERARCHY_PRICES')) %}
                                {{ currencyConverter.toCurrency(section.getTotalSalesPriceWithTax(scope)) | number_format(0, ',', ' ') }}

                                {% if hide and section.TotalSalesTax > 0 %}
                                    <br /><small>Inc. {{ currencyConverter.toCurrency(section.TotalSalesTax) | number_format(0, ',', ' ') }} VAT</small>
                                {% endif %}
                            {% else %}
                                &nbsp;
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% elseif section.isInScope(section.item.getScope(), scope) %}
                <tr data-tt-id="{{ sectionId }}" {% if hide == true %}data-tt-parent-id="{{ prefix }}"{% endif %}
                    class="price-schedule-level-{{ section.level }} price-schedule-section-{{ section.id }} price-schedule-section-{{ section.id }}">
                    <td class="price-schedule-col-item">{{ macros.sectionTitle(section) }}</td>

                    <td class="price-schedule-col-item">
                        {% if is_granted('ROLE_KLARO_QUOTATION_ACCESS_ITEM_CODE') %}
                            {{ section.item.itemCode }}
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </td>

                    <td class="price-schedule-col-item">
                        {{ section.item.internalTitle }}

                        {% if section.item.Notice is not empty %}
                            <br /><small>{{ section.item.Notice }}</small>
                        {% endif %}
                    </td>

                    <td class="price-schedule-col-unit right-align">{{ section.item.quantity }}</td>

                    <td class="price-schedule-col-unit right-align">
                        {% if is_granted('ROLE_KLARO_QUOTATION_ACCESS_COST_PRICE') and (not hide or is_granted('ROLE_KLARO_QUOTATION_ACCESS_SUMMARY_HIERARCHY_PRICES')) %}
                            {% if is_granted('ROLE_KLARO_QUOTATION_ACCESS_FACTORS') %}
                                <span class="value-tooltip" data-toggle="tooltip" data-original-title="{{ klaro_quotation_configuration_price_factor(section.item, currencyConverter, 'CostPrice') }}">
                                    {{ currencyConverter.toCurrency(section.item.costPrice) | number_format(0, ',', ' ') }}
                                </span>
                            {% else %}
                                {{ currencyConverter.toCurrency(section.item.costPrice) | number_format(0, ',', ' ') }}
                            {% endif %}
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </td>

                    <td class="price-schedule-col-unit right-align">
                        {% if is_granted('ROLE_KLARO_QUOTATION_ACCESS_SALES_PRICE') and (not hide or is_granted('ROLE_KLARO_QUOTATION_ACCESS_SUMMARY_HIERARCHY_PRICES')) %}
                            {% if is_granted('ROLE_KLARO_QUOTATION_ACCESS_FACTORS') %}
                                <span class="value-tooltip" data-toggle="tooltip" data-original-title="{{ klaro_quotation_configuration_price_factor(section.item, currencyConverter, 'SalesPrice') }}">
                                    {{ currencyConverter.toCurrency(section.item.salesPriceWithTax) | number_format(0, ',', ' ') }}
                                </span>
                            {% else %}
                                {{ currencyConverter.toCurrency(section.item.salesPriceWithTax) | number_format(0, ',', ' ') }}
                            {% endif %}

                            {% if section.item.SalesTaxPercentage > 0 %}
                                <br /><small>Inc. {{ currencyConverter.toCurrency(section.item.SalesTax) | number_format(0, ',', ' ') }} VAT ({{ section.item.SalesTaxPercentage }} %)</small>
                            {% endif %}
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </td>

                    <td class="price-schedule-col-total right-align">
                        {% if is_granted('ROLE_KLARO_QUOTATION_ACCESS_COST_PRICE') and (not hide or is_granted('ROLE_KLARO_QUOTATION_ACCESS_SUMMARY_HIERARCHY_PRICES')) %}
                            {{ currencyConverter.toCurrency(section.getTotalCostPrice(scope)) | number_format(0, ',', ' ') }}
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </td>

                    <td class="price-schedule-col-total right-align">
                        {% if is_granted('ROLE_KLARO_QUOTATION_ACCESS_SALES_PRICE') and (not hide or is_granted('ROLE_KLARO_QUOTATION_ACCESS_SUMMARY_HIERARCHY_PRICES')) %}
                            {{ currencyConverter.toCurrency(section.getTotalSalesPriceWithTax(scope)) | number_format(0, ',', ' ') }}

                            {% if section.TotalSalesTax > 0 %}
                                <br /><small>Inc. {{ currencyConverter.toCurrency(section.TotalSalesTax) | number_format(0, ',', ' ') }} VAT</small>
                            {% endif %}
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </td>

                </tr>
            {% endif %}
        {% endif %}
    {% endif %}

    {% for subSection in section.sections %}
        {{ macros.summary(subSection, currencyConverter, scope, sectionId, loop.index0, subSection.level > klaro_quotation_summary_level, true) }}
    {% endfor %}

{% endmacro %}
