{% extends 'KlaroQuotationBundle::base.html.twig' %}

{% block body %}

<form method="post" action="{{ path('klaro_quotation_get_configuration_test') }}">

    <div class="form-group">
        <select name="product">
            {% for ref,name in products %}
                <option value="{{ ref }}" {{ product == ref ? 'selected="selected"' : '' }}>{{ name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <textarea name="data" rows="10" style="width: 100%;">{{ data | json_encode(constant('JSON_PRETTY_PRINT')) }}</textarea>
    </div>

    <button type="submit" name="submit" class="btn btn-default btn-lg">Submit</button>

    <hr />

    {{ configuration ? klaro_quotation_configuration(configuration) : null }}
{% endblock %}
