{% extends '::base.html.twig' %}

{% block bodyjavascripts %}
    {{ parent() }}

    {{ klaro_quotation_load_modules([
        { module : 'bootstrap', 'el' : 'body' },
        { module : 'monitor' },
        { module : 'notification' },
    ]) }}
{% endblock %}

{% block mainNavigation %}
    {{ klaro_quotation_main_menu() }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row main-content-wrapper">
            <div class="col-sm-3 col-md-3 col-lg-2 sidebar">

                {% block sideNavigation %}{% endblock %}

            </div>
            <div class="col-sm-9 col-md-9 col-lg-10 main main-content-area">
                <div id="content">
                    {% block breadcrumbs %}{% endblock %}

                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
    </div>

    <div class="flash-messages" style="display: block;" data-app="flashmessages" data-messages="{{ klaro_quotation_flash_messages | json_encode }}">
    </div>
{% endblock content %}

