{% block description %}
{% endblock %}

{% block alerts %}
    <div class="alert alert-warning" data-app="phase.form-alerts" style="display: none;">
        <p><i class="fa fa-exclamation-triangle"></i>
            {{ 'edit.alerts.general'| trans({}, 'KlaroQuotationBundle') }}
        </p>
    </div>
{% endblock %}

{% block edit_content %}
    <div class="panel panel-default">

        <!-- /.panel-heading -->
        <div class="panel-body">

            <div class="phase-content">
                {{ editor.render() | raw }}
            </div>
        </div>

    </div>

{% endblock %}
