{% block navbar %}
    {% embed 'KlaroQuotationBundle:Quotation:partials/navbar.html.twig' with {
        navbarId       : 'edit',
        show_left      : true,
        collapse_left  : true,
        show_right     : true,
        collapse_right : false
    } %}
        {% block header %}
            <a class="navbar-brand" href="{{ path('klaro_quotation_edit_revision', {
                quotationId : quotation.id,
                revisionId  : revision.RevisionId,
                phaseId     : phase.Path
            }) }}">{{ phase.phaseNode.title }}</a>
        {% endblock %}

        {% block left %}
            {% if phase.hasChildren %}
                {% for phaseId, tmpSubPhase in phase.getChildren %}
                    <li class="{% if editablePhase.path == tmpSubPhase.Path %} active{% endif %}">
                        {% if tmpSubPhase.getPhaseNode.disabled == false %}
                            <a href="{{ path('klaro_quotation_edit_revision', {
                                quotationId : quotation.id,
                                revisionId  : revision.RevisionId,
                                phaseId     : tmpSubPhase.Path
                            }) }}">{{ tmpSubPhase.getPhaseNode.title }}</a>
                        {% else %}
                            <span class="disabled">{{ tmpSubPhase.getPhaseNode.title }}</span>
                        {% endif %}
                    </li>
                {% endfor %}
            {% endif %}
        {% endblock %}

        {% block right %}
            {% if phase.phaseNode.type is constant('Klaro\\Component\\ProductPhase\\PhaseNode::PRODUCT') %}
                <li>
                    <a href="#"
                       data-app="product-data.import"
                       data-quotation-id="{{ quotation.id }}"
                       data-revision-id="{{ revision.RevisionId }}"
                       data-phase-id="{{ phase.path }}"
                       data-sources="{{ importerSources.toArray() | json_encode }}"><i class="fa fa-exchange"></i> Import</a>
                </li>
            {% endif %}
        {% endblock %}
    {% endembed %}

{% endblock %}
