{% block title %}
    <h1>{{ 'edit.title.quotation' | trans({
            '%title%': revision.title,
            '%identifier%': revision.identifier
        }, 'KlaroQuotationBundle') }}
    </h1>

{% endblock %}
