/** Boostrap chosen style overrides from https://github.com/syaifulsz/bootstrap-advanced-select **/

.has-error .chosen-select .chosen-container.chosen-with-drop .chosen-single {
    background-color: #f2dede;
    border: 1px #b94a48 solid
}

.has-error .chosen-select .chosen-container.chosen-with-drop .chosen-single div {
    background-color: #f2dede;
    border-left: 1px #b94a48 solid
}

.has-error .chosen-select .chosen-container.chosen-with-drop .chosen-drop {
    border-top: 1px #b94a48 solid;
    border-bottom: 1px #b94a48 solid;
    border-left: 1px #b94a48 solid;
    border-right: 1px #b94a48 solid
}

.has-error .chosen-select .chosen-single {
    background-color: #f9f0f0;
    border: 1px #b94a48 solid
}

.has-error .chosen-select .chosen-single div {
    background-color: #f2dede;
    border-left: 1px #b94a48 solid
}

.has-warning .chosen-select .chosen-container.chosen-with-drop .chosen-single {
    background-color: #fcf8e3;
    border: 1px #c09853 solid
}

.has-warning .chosen-select .chosen-container.chosen-with-drop .chosen-single div {
    background-color: #fcf8e3;
    border-left: 1px #c09853 solid
}

.has-warning .chosen-select .chosen-container.chosen-with-drop .chosen-drop {
    border-top: 1px #c09853 solid;
    border-bottom: 1px #c09853 solid;
    border-left: 1px #c09853 solid;
    border-right: 1px #c09853 solid
}

.has-warning .chosen-select .chosen-single {
    background-color: #fefefa;
    border: 1px #c09853 solid
}

.has-warning .chosen-select .chosen-single div {
    background-color: #fcf8e3;
    border-left: 1px #c09853 solid
}

.has-success .chosen-select .chosen-container.chosen-with-drop .chosen-single {
    background-color: #dff0d8;
    border: 1px #468847 solid
}

.has-success .chosen-select .chosen-container.chosen-with-drop .chosen-single div {
    background-color: #dff0d8;
    border-left: 1px #468847 solid
}

.has-success .chosen-select .chosen-container.chosen-with-drop .chosen-drop {
    border-top: 1px #468847 solid;
    border-bottom: 1px #468847 solid;
    border-left: 1px #468847 solid;
    border-right: 1px #468847 solid
}

.has-success .chosen-select .chosen-single {
    background-color: #eef7ea;
    border: 1px #468847 solid
}

.has-success .chosen-select .chosen-single div {
    background-color: #dff0d8;
    border-left: 1px #468847 solid
}

.input-group .chosen-select:first-child .chosen-single {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.input-group .chosen-select:last-child .chosen-single {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}
