
/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        z-index: 1000;
        display: block;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-bottom: 20px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 0px;
}

.nav-sidebar .active > a {
    font-weight: bold;
}

.nav-sidebar li a> img {
    margin-right: 5px;
}

.nav-nested {
    font-size: 0.9em;
}

.nav-nested-sub {
    font-size: inherit;
}

.nav-nested li a, .nav-nested li span {
    padding: 8px 16px;
    padding-left: 25px;
    display: block;
}

.nav-nested ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu_level_2 li {
    padding-left: 40px;
}

.nav-nested-sub li a, .nav-nested-sub li span {
    padding: 8px 16px;
    padding-left: 45px;
}

.rounded-icons li a> i.fa {
    font-size: 12px;
    display: inline-block;
    color: #5e5e5e;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    text-shadow: none;
    text-align: center;
    margin-right: 5px;
}

.rounded-icons .disabled a> i.fa {
    background-color: #ccc;
}

.rounded-icons li:hover:not(.disabled) a> i.fa {
    background-color: #5e5e5e;
    color: #fff;
}

a .unlocked {
    border-bottom: 1px dashed #999;
}

/*
 * Main content
 */

.main {
}
@media (min-width: 768px) {
    .main {
        /*padding-right: 40px;
        padding-left: 40px;*/
    }
}
.main .page-header {
    margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}