.klaro-sidebar-closed {

    position: absolute;
    top: 20px;
    right: 40px;

    background: #333;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
    color: #fff;
    vertical-align: top;

    transition: width 0.4s ease;
    -webkit-transition: width 0.4s ease; /* Safari */
}

.klaro-sidebar-closed .title {
/*    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -sand-transform: rotate(90deg);
*/
    padding: 6px 8px;
    display: inline-block;
    white-space: nowrap;
    position: relative;
}

.klaro-sidebar-closed .title a {
    color: #fff;
}

.klaro-sidebar-open {
    background: #fff;
    vertical-align: top;
    margin: 0px !important;
}

.klaro-sidebar-open .content-wrapper {
    margin: 0;
    padding: 0;
}
.klaro-sidebar-open .content-header {
    margin: 0;
    margin-top: 10px;
    /*border-bottom: 1px solid #f0f0f0;*/
}
.klaro-sidebar-open .content-header .close-link {
    float: right;
    margin: 0px;
    margin-top: 5px;
    font-size: 20px;
    color: #ccc;
}
.klaro-sidebar-open .content-header .close-link:hover {
    color: #999;
}
.klaro-sidebar-open .content-footer {
    margin: 0;
    border-top: 1px solid #f0f0f0;
    padding: 10px;
}

.klaro-sidebar-open .content-header h2 {
    margin: 0;
    margin-top: 10px;
    padding: 12px 6px;
    color: #5e5e5e;
    font-size: 16px;
}

.klaro-sidebar-open .content-area {
    margin: 0;
    overflow: auto;
    margin-top: 20px;
    /*padding: 10px;
    height: 550px;*/
    font-size: 0.9em;

    transition: height 0.2s ease;
    -webkit-transition: height 0.2s ease; /* Safari */
}

.klaro-sidebar-open .content-area.expanded {
    height: auto;
}

.klaro-sidebar-open .content-footer a {
    color: #999;
}

.klaro-sidebar-open .content-footer a:hover {
    color: #333;
}
