{% set has_left_menu   = show_left is not defined or show_left == true %}           {# Shown by default #}
{% set has_right_menu  = show_right is defined and show_right == true %}            {# Not shown by default #}
{% set left_collapsed  = collapse_left is not defined or collapse_left == true %}   {# Collapsing by default #}
{% set right_collapsed = collapse_right is defined and collapse_right == true %}    {# Not collapsed by default #}

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            {% if has_left_menu or has_right_menu %}
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#klaro-quotation-navbar-{{ navbarId }}-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="fa fa-bars"></span>
                </button>
            {% endif %}
            {% block header %}
            {% endblock %}
        </div>

        {% if has_left_menu or has_right_menu %}
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="klaro-quotation-navbar-{{ navbarId }}-collapse">

            {% if has_left_menu %}
                <ul class="nav navbar-nav{% if left_collapsed %} hidden-sm hidden-md{% endif %}">
                    {% block left %}
                    {% endblock %}
                </ul>

                {% if left_collapsed %}
                    <ul class="nav navbar-nav hidden-xs hidden-lg">
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="fa fa-list"></i> <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                {{ block('left') }}
                            </ul>
                        </li>
                    </ul>
                {% endif %}
            {% endif %}

            {% if has_right_menu %}
                <ul class="nav navbar-nav navbar-right{% if right_collapsed %} hidden-sm hidden-md{% endif %}">
                    {% block right %}
                    {% endblock %}
                </ul>

                {% if right_collapsed %}
                    <ul class="nav navbar-nav navbar-right hidden-xs hidden-lg">
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="fa fa-list"></i> <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                {{ block('right') }}
                            </ul>
                        </li>
                    </ul>
                {% endif %}
            {% endif %}

            </div><!-- /.navbar-collapse -->
        {% endif %}

    </div><!-- /.container-fluid -->
</nav>
