{% block description %}
{% endblock %}

{% block list_content %}
    <div class="panel panel-default">
        <div class="panel-body">
            <table id="quotationList" class="display table table-striped datatable" style="width:100%"
                   data-app="datatable.ajax"
                   data-owner="{{ owner }}"
                   data-quotation-type="{{ quotationType }}"
            >
                <thead>
                <tr>
                    {% for header in headers %}
                        <th>{{ header }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tfoot>
                <tr>
                    {% for header in headers %}
                        <th>{{ header }}</th>
                    {% endfor %}
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
{% endblock %}
