{% block navbar %}

    {% embed 'KlaroQuotationBundle:Quotation:partials/navbar.html.twig' with {
    navbarId       : 'list',
    collapse_left  : false,
    show_right     : true,
    collapse_right : true
    } %}
        {% block header %}
            <a class="navbar-brand" href="{{ path('klaro_quotation_list', {'quotationType' : quotationType}) }}">{{ klaro_quotation_type_names[quotationType] }}</a>
        {% endblock %}

        {% block left %}
            <li class="{% if owner != 'other' %} active{% endif %}">
                <a href="{{ path('klaro_quotation_list', {'quotationType' : quotationType}) }}">
                    <i class="fa fa-user"></i>
                    <span class="hidden-sm hidden-md">{{ 'list.navbar.show_own_quotations'| trans({}, 'KlaroQuotationBundle') }}</span>
                </a>
            </li>
            {% if is_granted('ROLE_KLARO_QUOTATION_SEE_OTHER_QUOTATION') %}
                <li class="{% if owner == 'other' %} active{% endif %}">
                    <a href="{{ path('klaro_quotation_list', {'quotationType' : quotationType, 'owner' : 'other'}) }}">
                        <i class="fa fa-users"></i>
                        <span class="hidden-sm hidden-md">{{ 'list.navbar.show_other_quotations'| trans({}, 'KlaroQuotationBundle') }}</span>
                    </a>
                </li>
            {% endif %}
        {% endblock %}

        {% block right %}
            {% if is_granted('ROLE_KLARO_QUOTATION_CREATE_QUOTATION') %}
                <li>
                    <a href="{{ path('klaro_quotation_create', {'quotationType' : quotationType}) }}">
                        <i class="fa fa-plus"></i>
                        {{ 'list.navbar.new_quotation_for_current'| trans({'%quotationType%' : klaro_quotation_type_names[quotationType]}, 'KlaroQuotationBundle') }}
                    </a>
                </li>

                {% if klaro_quotation_type_names | length > 1 %}
                    <li>
                        <a href="#" role="button" data-app="quotation.create"
                           data-choices="{{ klaro_quotation_type_names | json_encode }}">
                            <i class="fa fa-plus"></i> {{ 'list.navbar.new_quotation_for_other'| trans({}, 'KlaroQuotationBundle') }}
                        </a>
                    </li>
                {% endif %}
            {% endif %}
        {% endblock %}
    {% endembed %}

{% endblock %}
